body {
	line-height: 1.2;
}

/* images */
div.floatright {
	float: right;
	clear: right;
	position: relative;
	margin: 0.5em 0 0.8em 1.4em;
}

div.floatleft {
	float: left;
	clear: left;
	position: relative;
	margin: 0.5em 1.4em 0.8em 0;
}

.center {
	width: 100%;
	text-align: center;
}

.center * {
	margin-left: auto;
	margin-right: auto;
}

.thumbcaption {
	text-align: left;
	font-size: 95%;
}

div.tright {
	float: right;
	clear: right;
	margin: 0.5em 0 0.8em 1.4em;
}

div.tleft {
	float: left;
	clear: left;
	margin: 0.5em 1.4em 0.8em 0;
}

.small {
	font-size: 94%;
}

/* EPUB by https://t.me/bongboi */

.sidenote-right .sidenote-left {
  margin:0.5em;
  padding:3px;
  max-width:9em;
  text-indent:0em;
  text-align:left;
}

.sidenote-right {
   float:right;
}

.sidenote-left{
  float:left;
}

.tr_mark {display:none;}
.tr_bengali {display:inline;}

hr {
    height: 4px;
    background-color: #D2691E;
}

h1 {
    color: #B8860B;
    text-align: center;
}

h2 {
    color: #001729;
    text-align: center;
}

h3 {
    color: #001729;
    text-align: center;
}

b {
    color: #001729;
}

a{
    color: #B8860B;
}

